body {
    background-color: #050f1b;
  }
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
  }
  hr {
    background-color:#214370;
    border: 1px solid #214370;
    margin-top: -8px;
  }