body {
  background-color: #050f1b;
}
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
  }
  hr {
    background-color:#214370;
    border: 1px solid #214370;
    margin-top: -8px;
  }
  
  .links {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 75vh;
  }
  
  .links__list {
    position: relative;
    list-style: none;
  }
  
  .links__item {
    width: 160px;
    height: 160px;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    margin-top: -80px;
    margin-left: -80px;
    --rotation: calc(140deg + 72deg*var(--item-count));
    transform: rotate(var(--rotation)) translate(176px) rotate(calc(var(--rotation)*-1));
  }
  
  .links__link {
    opacity: 0;
    animation: on-load .3s ease-in-out forwards;
    animation-delay: calc(var(--item-count)*150ms);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    background-color: #214370;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
  
  .links__text {
    position: absolute;
    padding-bottom: 75px;
    width: 100%;
    left: 0;
    text-align: center;
    animation: text .3s ease-in-out forwards;
  }
  
  .links__link:after {
    content: "";
    background-color: transparent;
    width: 160px;
    height: 160px;
    border: 2px dashed rgb(255, 255, 255);
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s cubic-bezier(.53,-.67,.73,.74);
    transform: none;
    opacity: 0;
  }

  .links__link:hover .links__icon {
    transition: all .3s ease-in-out;
    transform: translateY(-8px);
    color:aliceblue;
    background-color: aquamarine;
  }
  
  .links__link:hover .links__text {
    display: block;
    color: #7fa5d8;
  }
  
  .links__link:hover:after {
    transition: all .3s cubic-bezier(.37,.74,.15,1.65);
    transform: scale(1.1);
    opacity: 1;
  }
  
  @keyframes on-load {
    0% {
      opacity: 0;
      transform: scale(.3);
    }
    70% {
      opacity: .7;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes text {
    0% {
      opacity: 0;
      transform: scale(0.3) translateY(0);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(40px);
    }
  }