body {
    background-color: #050f1b;
  }
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  hr {
    background-color:#214370;
    border: 1px solid #214370;
  }

  /* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: rgb(6, 32, 51);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-right: 1px solid black;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: rgb(157, 160, 194);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #108057;
    color: white;
  }